html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.juegoContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: "titulo cronometro"
        "tablero tablero";
    padding: 0 2em;
    margin-bottom: 2em;
}

#titulo {
    grid-area: titulo;
    font-size: 40px;
}

#cronometro {
    grid-area: cronometro;
    font-size: 40px;
}

#titulo,
#cronometro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableroContainer {
    display: grid;
    grid-area: tablero;
    grid-template-areas: "cuad1 cuad2 cuad3"
        "cuad4 cuad5 cuad6"
        "cuad7 cuad8 cuad9";
    background-color: black;
}

.cuad {
    max-height: 100%;
    max-width: 100%;
    outline: 2px solid #dee2e6;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #2bbbad;
    margin: 0;
    padding: 0;
}

.cuad.activo:hover {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.cuad.activo {
    cursor: pointer;
}

.circulo,
.equis {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.circulo {
    background-image: url('../../img/circulo.svg');
}

.equis {
    background-image: url(../../img/equis.svg);
}

@media (max-width:991px) {
    #titulo {
        font-size: 20px;
    }
    
    #cronometro {
        font-size: 20px;
    }
}